<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1 footer-logo">
        <a  href="{{ "/" | relative_url }}"><img src="/assets/logo-footer.png" alt=""></a>
      </div>

      <div class="footer-col footer-col-2">
        <p>{{- site.description | escape -}}</p>
        
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
       

            <h2><a  href="https//www.patreon.com/EitaMagSFF">Support us!</a></h2>

      </div>
    </div>

  </div>

</footer>
