<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1 footer-newsletter-logo">
        <p><a  href="{{ "/newsletter/" | relative_url }}"><img src="/assets/newsletra-footer.png" alt="Subscribe to our Newsletter"></a></p>
        <h4><a href="{{ "/newsletter/" | relative_url }}"">Subscribe to Newsletra!</a></h4>
      </div>

      <div class="footer-col footer-col-2">
        <p>{{- site.description | escape -}}</p>
        
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3 footer-patreon-logo">
        <p><a  href="https://www.patreon.com/EitaMagSFF"><img src="/assets/patreon-footer.png" alt="Patreon Logo"></a></p>
        <h2><a  href="https://www.patreon.com/EitaMagSFF">Support us!</a></h2>
      </div>
    </div>

  </div>

</footer>
