
<div class="reading-controls" align="right">
	<button onclick="biggerFontSize()" style="border:none;background-color:#fff">
		<img src="{{ site.baseurl }}/assets/bigger.jpg" width="50"></img>
	</button>
	<button onclick="smallerFontSize()" style="border:none;background-color:#fff">
		<img src="{{ site.baseurl }}/assets/smaller.jpg" width="30"></img>
	</button>	
	<button onclick="toggleReadingMode()" style="border:none;background-color:#fff">	
		<img src="{{ site.baseurl }}/assets/eita_eye.jpeg" width="50"></img>
	</button>
</div>


