// Colors

$pure-black: #111
$pure-white: #fff
$base-grey:  #828282

$deep-sky-blue:     #0d2132
$sweet-royal-blue:  #2e4f7b
$vibrant-orange:    #f26f21
$sweet-purple:      #70307f
$crimson-red:       #a40f28
$carmin-pink:       #aa263c
$monstera-green:    #013912
$lover-pink:        #d064a3
$old-gold-yellow:   #bb8230
$grandma-orange:    #f7a182
$off-vanilla-white: #eed8b4


// Assigned colors

$dark-text:    $pure-black
$light-text:   $pure-white

$shadow-text:     $lover-pink
$shadow-tropical: $carmin-pink

$dark-headings:  $sweet-purple
$light-headings: $off-vanilla-white

$dark-bg:      $deep-sky-blue
$light-bg:     $pure-white
$highlight-bg: $lover-pink
$top-nav-bg:   $sweet-royal-blue
$footer-bg:    $sweet-royal-blue

$top-nav-links: $off-vanilla-white

$dark-line:    $pure-black
$light-line:   $off-vanilla-white


$hot-vibrant:  $vibrant-orange

// Theme colors

$vibrant-color:    $hot-vibrant !default
$text-color:       $dark-text !default
$background-color: $dark-bg !default
$grey-color:       $base-grey !default
