//Posts - Homepage

.post-list
  li h3
    a
      color: $light-headings

    p
      color: $light-text

.btn-call-to-action
  margin-top: 45px
  text-align: right

  a
    background: $hot-vibrant
    color: $light-line
    font-family: $titles-font
    font-size: 2em
    padding: 10px
    &:hover
      box-shadow: -5px 5px $shadow-text, -10px 8px $shadow-tropical
      &:active
        background: $sweet-purple

