//Posts - Homepage

.post-list
  li
    h3
      a
        color: $light-headings

    p
      color: $light-text

.btn-call-to-action
  text-align: right
  margin-top: 45px
  a
    background: $hot-vibrant
    color: $light-line
    font-family: $titles-font
    padding: 10px
    font-size: 2em

