.site-nav
  ul
    line-height: $base-line-height * $base-font-size * 2.25
    list-style-type: none
    margin-bottom: 0
    +media-query($on-palm)
      margin-left: 10px
      width: auto

    li
      display: inline-block
      &:first-child
        margin-right: 80px
      +media-query($on-palm)
        display: block


  .nav-trigger
    display: none

  .menu-icon
    display: none

  .page-link
    line-height: $base-line-height

    a, a:visited
      background-color: $vibrant-color
      color: $text-color

    // Gaps between nav items, but not on the last one
    &:not(:last-child)
      margin-right: 20px
      padding: 4px
      +media-query($on-palm)
        margin-right: 0

  // Media query for mobile
  +media-query($on-palm)
    background-color: $highlight-bg
    right: $spacing-unit / 2
    text-align: right
    top: 9px


    label[for="nav-trigger"]
      cursor: pointer
      display: block
      float: right
      height: 40px
      width: 40px
      z-index: 2

    .menu-icon
      display: block
      float: right
      height: 40px
      line-height: 0
      padding-top: 15px
      text-align: center
      width: 40px

      > svg
        fill: $grey-color-dark

    input ~ .trigger
      clear: both
      display: none

    input:checked ~ .trigger
      display: block
      padding-bottom: 5px

    .page-link
      display: block
      min-height: 40px

      &:not(:last-child)
        margin-left: 20px
        margin-right: 10px
        +media-query($on-palm)
          margin-left: 0
          margin-right: 0


.submenu
    display: none
    visibility: hidden
    +media-query($on-palm)
        display: block
        position: relative
        visibility: visible

// li:active ul.submenu, li:active ul.submenu


li:hover ul.submenu
    background: $top-nav-bg
    display: block
    max-width: 150px
    padding: 10px
    position: absolute
    visibility: visible
    li
        a
            text-transform: lowercase


// Mobile
+media-query($on-palm)
    .site-header
        .site-logo
            img
                max-width: 150px
                padding: 20px
    .fixed-top
        .main-menu
            padding: 0

    .mobile-left
        max-width: 140px
        padding: 10px
        position: fixed
        right: 9px
        top: 30px
        z-index: 99

    .mobile-right
        // visibility: hidden
        // display: none
        left: 0
        position: fixed
        right: 0
        top: 110px

        .trigger
            ul
                display: flex
                .submenu
                    display: none





