.submenu
    visibility: hidden
    display: none

li:hover ul.submenu 
    visibility: visible
    position: absolute
    display: block
    max-width: 120px
    padding: 10px
    background: $light-bg
    li
        a 
            text-transform: capitalize
    