.post
  background-color: $light-bg
  padding: 40px
  +media-query($on-palm)
    padding: 10px

  &-featured-img 
    padding: 20px 0
    img 
      max-width: 700px
      object-fit: cover
      width: 100%

  &-content
    p 
      //text-indent: 1.5rem
      margin-top: 15px
      
