.page-content-post
    background: $pure-white
.wrapper-post
    max-width: 720px

.post
    max-width: 720px
    padding: 20px
    background-color: $pure-white
    margin-top: 30px
    
.post-title
    color: $light-headings
      
    
.post-content 
  color: $dark-text
  font-size: 21px
   