.page-content-post
  background: $pure-white
.wrapper-post
  max-width: 720px

.post
  margin-top: 30px
  padding: 20px

.post-title
  color: $dark-text

.post-featured-img
  margin: 20px 0

.post-content
  color: $dark-text
  font-size: 21px
  +media-query($on-palm)
    font-size: 18px
    text-align: left

.post-list li
  img
    filter: sepia(0.9)
    height: 250px
    object-fit: cover
    &:hover
      filter: sepia(0.1)

  .post-list-img
    margin-bottom: 20px
