// Typography

@font-face
  font-family: 'Lato'
  src: url('../assets/fonts/Lato/Lato-Regular.ttf')  format('truetype') //Safari, Android, iOS
  font-display: swap

@font-face
  font-family: 'Alfa regular'
  src: url('../assets/fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf')  format('truetype') //Safari, Android, iOS
  font-display: swap

$titles-font: 'Alfa Regular', serif
$text-font: 'Lato', sans-serif
