// Typography

@font-face 
  font-family: 'Lato'
  src: url('./assets/fonts/Lato/Lato-Regular.ttf')  format('truetype') //Safari, Android, iOS 

@font-face 
  font-family: 'Alfa'
  src: url('../assets/fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf')  format('truetype') //Safari, Android, iOS      

@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap');
$titles-font: 'Alfa', serif;
$text-font: 'Lato', sans-serif;