<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

      {%- if page.layout contains "page" -%}
      <main class="page-content page-static" aria-label="Content">
        <div class="wrapper wrapper-post">
          {{ content }}
      </div>
      {% else %}
      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          {{ content }}
        </div>

      {%- endif -%}
     

    </main>

    {%- include footer.html -%}
    <script src="{{ base.url | prepend: site.url }}/assets/js/scripts.js"></script>
  </body>

</html>
