---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}

    <div class="wrapper-home-div">
      <div class="first-home-div">
        <h4 class="post-section-title-right">{{ page.list_title | default: "Issues" }}</h4>       
        <ul class="current-issue">
          {%- for post in site.posts -%}
          {% if post.categories contains "current-issue" %}
            <div class="current-issue-cover-img">
              {%- if post.featured-image -%}
                <img src="{{ post.featured-image | relative_url }}" alt=" {{ post.featured-image-alt | escape }}">
              {%- endif -%}
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            <div class="current-issue-excerpt">
              {{ post.excerpt }}
            </div>
            <div>
              {{ post.content }}
            </div>
          {% endif %}
          {%- endfor -%}
        </ul>              
        <ul>              
      </div>
      <div class="second-home-div">
        <div class="first-home-mobile-div">
          <h4 class="post-section-title">{{ page.list_title | default: "Issues" }}</h4>       
          <ul class="current-issue">
            {%- for post in site.posts -%}
            {% if post.categories contains "current-issue" %}
              <div class="current-issue-cover-img">
                {%- if post.featured-image -%}
                  <img src="{{ post.featured-image | relative_url }}" alt=" {{ post.featured-image-alt | escape }}">
                {%- endif -%}
              <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h3>
              <div class="current-issue-excerpt">
                {{ post.excerpt }}
              </div>
              <div>
                {{ post.content }}
              </div>
            {% endif %}
            {%- endfor -%}
          </ul>              
          <ul>              
        </div>        
        <h4 class="post-section-title">{{ page.list_title | default: "Short Stories" }}</h4> 
        <ul class="post-list-stories">
          {%- for post in site.posts -%}
          {% if post.categories contains "stories" %}
          <li>
            <div class="post-list-img">
              {%- if post.featured-image -%}
              <img src="{{ post.featured-image | relative_url }}" alt=" {{ post.featured-image-alt | escape }}">
            </div>
              {%- else -%}
              <img src="/assets/img-ipsum.png" alt="Imagem fixa">
            </div>
            {%- endif -%}
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            <p><strong>{{ post.author | escape }}  </strong></p>
              {{ post.excerpt }}
          </li>
          {% endif %}
          {%- endfor -%}
        </ul>              
      </div>
    </div>

    <section>
      <h4 class="post-section-title">{{ page.list_title | default: "News and Updates" }}</h4>       
      <ul class="post-list">
        {%- for post in site.posts -%}
        {% if post.categories contains "issue" %}
        <li>
          <div class="post-list-img">
            {%- if post.featured-image -%}
            <img src="{{ post.featured-image | relative_url }}" alt=" {{ post.featured-image-alt | escape }}">
          </div>
            {%- else -%}
            <img src="/assets/img-ipsum.png" alt="Imagem fixa">

          </div>
          {%- endif -%}
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          <p><strong>{{ post.author | escape }}  </strong></p>
            {{ post.excerpt }}
        </li>
        {% endif %}
        {%- endfor -%}
      </ul>
    </section>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

  {%- endif -%}



</div>
