---
layout: default
---
<article class="post post-page">

  <header class="page-header">
    <div class="top"></div>
    <h1>Our Team</h1>  
 
  </header>
  
  <div class="post-content">
    <div class="team">
      <div class="team-content">
        {% for team_member in site.team_members %}
        <div class="member">
          <div class="member-content">              
              <p>{{ team_member.content | markdownify }}</p>
          </div>
        
        </div>
        {% endfor %}        
      </div>
    </div>
  
</div>

</article>
